boolean.py==5.0
CacheControl==0.14.4
certifi==2026.1.4
charset-normalizer==3.4.4
colorama==0.4.6
cyclonedx-python-lib==11.6.0
defusedxml==0.7.1
filelock==3.21.2
flake8==7.3.0
idna==3.11
iniconfig==2.3.0
license-expression==30.4.4
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.1.2
packageurl-python==0.17.6
packaging==26.0
pillow==12.1.1
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.10.0
platformdirs==4.7.1
pluggy==1.6.0
py-serializable==2.1.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pyparsing==3.3.2
pytest==9.0.2
requests==2.32.5
rich==14.3.2
sortedcontainers==2.4.0
tomli==2.4.0
tomli_w==1.2.0
typing_extensions==4.15.0
urllib3==2.6.3
